@page
@model AspRazorPagesP33.Pages.PersonsModel
@{
    ViewData["Title"] = "Persons";
}

<h2>Persons</h2>

<div class="mt-4 mb-4">
    <a asp-page="/PersonCreate" class="btn btn-success">Create New Person</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(person.AvatarImageSrc))
                    {
                        <img src="@person.AvatarImageSrc" alt="Avatar" width="50" height="50" />
                    }
                </td>
                <td>@person.Name</td>
                <td>@person.Description</td>
                <td>@person.Email</td>
                <td>@person.Birthday.ToString("dd.MM.yyyy")</td>
                <td>
                    <a asp-page="/PersonEdit" asp-route-id="@person.Id" 
                    class="btn btn-warning">Edit</a>

                    <a asp-page="/PersonSkills" asp-route-id="@person.Id"
                       class="btn btn-info">Skills</a>

                    <a asp-page="/Info" asp-route-id="@person.Id" 
                    class="btn btn-primary">View Details</a>
                    </td>
            </tr>
        }
    </tbody>
</table>